body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

nav {
    padding: 0 1rem;
}

.content {
    min-height: calc(100vh - 70px - 64px);
    padding: 1.5rem 0;
}

.goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.cart {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 5;
    padding: 1rem;
}

@media (min-width: 767px) {
    .cart {
        top: 5rem;
        bottom: auto;
    }
}

.basket-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 50rem;
    max-width: 95%;
    animation: show 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 5px rgb(69 39 160 / 20%);
}

.basket-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.collection .collection-item.active {
    background-color: #4527a0;
}

.basket-delete,
.basket-icon {
    cursor: pointer;
    color: #673ab7;
    vertical-align: middle;
    user-select: none;
}

.btn,
.btn-small {
    background-color: #4527a0;
}

.btn:hover,
.btn-small:hover,
.btn:focus,
.btn-small:focus,
.toast {
    background-color: #371f61;
}

#toast-container {
    top: 3rem !important;
    animation: fade-in 0.5s ease-in-out;
}

@keyframes show {
    from {
        top: 70%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
